:root {
  /* colores */
  --color-main: rgb(34, 5, 34);
  --color-terminal: rgb(43, 6, 43);
  --color-menu: rgb(59, 4, 59);
  --color-information: rgb(61, 2, 61);
  --color-whoami: rgb(37, 36, 37);
  --color-border: rgb(97, 38, 97);
  --color-text: rgb(176, 183, 194);
  --color-select-yellow: rgb(107, 230, 0);
  --color-select-blue: rgb(21, 36, 255);
  --color-text-windows-code: rgb(255, 75, 10);

  /* tamaño */
  --text-size-span: 0.85rem;

  /* font */
  --text-family: 'Ubuntu Mono', 'Courier New', monospace
}

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body, #root {
  background: var(--color-main);
  font-family: var(--text-family);
  color: var(--color-text);
}

span {
  font-size: var(--text-size-span);
  font-family: var(--text-family);
}

@keyframes cursorBlink {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

.cursor {
  animation: cursorBlink 1s step-start infinite;
}

.icon-information {
  color: rgb(255, 165, 0);
  font-size: 1rem;
}